* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main_box {
    background-image: url(camera.jpg);
    height: 120vh;
    background-size: cover;
}
.btn_one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu {
    position: fixed;
    left: -300px;
    height: 150vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.11);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.4s linear;
}
.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    height: 50px;
    left: 0px;
}
.sidebar_menu .logo a  {
    position: absolute;
    left: 30px;
    color: white;
    text-decoration:none ;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color: gray;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 250px;
   /* opacity: 0;*/
   cursor: pointer;
   transition: all 0.3s linear;
}
.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu  i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i {
    padding-right: 8px;
}
.sidebar_menu .social_media {
    color: white;
    opacity: 10;
    position: absolute;
    left: 25%;
    top: 600px;
}
.sidebar_menu .social_media i  {
    color: white;
    opacity: 10;
    padding: 0 5px;
}
#check {
    display: none;
}
.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.btn_one i:hover {
    font-size: 40px; 
    cursor: pointer;
    
}
.btn_two i:hover {
    font-size: 30px;
    cursor: pointer;
}
.sidebar_menu .social_media i:hover {
    opacity: 4;
    transform: scale(1.4);
}
#check:checked ~ .sidebar_menu {
    left: 0;
}
#check:checked ~ .btn_one {
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}